<html>
<head>
    <title>Change Password</title>    
</head>
<body>
    <div class="card">
        <div id="LoadPageChngpwd" class="row text-center waitIconDivRprt" style="display:none">
            <img alt="Progress" src="~/Content/images/wait_icon.gif" width="50" height="50" id="imgProgQuery" />
        </div>
        <div class="header">
            <h4 class="title" id="profileTitle">Change Password</h4>
        </div>
        <br>
        <div class="content chngPwdFormDiv">           
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    @Html.Label("Current Password", new { @class = "control-label hrms-required-field"})
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.Password(" ", "", new { @class = "form-control input-field", @id = "currntPwd" })
                    @Html.Label("Enter current password !!", new { id = "ErrPwdCurr", @class = "text-danger errLabel" })
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    @Html.Label("New Password", new { @class = "control-label hrms-required-field" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.Password(" ", "", new { @class = "form-control input-field", @id = "nwPwd" })
                    @Html.Label("Enter new password !!", new { id = "ErrnwPwd", @class = "text-danger errLabel" })
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    @Html.Label("Confirm New Password", new { @class = "control-label hrms-required-field" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.Password(" ", "", new { @class = "form-control input-field", @id = "nwPwdCnfrm" })                   
                    @Html.Label("Enter Confirm password !!", new { id = "ErrnwPwdCnfm", @class = "text-danger errLabel" })
                </div>
            </div>
            <br>
            <div class="row text-right">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <input type="button" class="btn btn-info btn-fill" value="Save" title="Save" onclick="chngPwdSubmit()" />
                    <input type="button" class="btn btn-default btn-fill" value="Cancel" title="Cancel" onclick="clearFileds(); clearErrors()" />                
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function chngPwdSubmit() {
        clearErrors();
        var currntPwd = $('#currntPwd').val();
        var nwPwd = $('#nwPwd').val();
        var nwPwdCnfm = $('#nwPwdCnfrm').val();
        var validFlag = true;
        if (stringIsNull(currntPwd)) {
            $('#currntPwd').css('border-color', 'red');
            $('#ErrPwdCurr').text("Enter current password !!");
            $('#ErrPwdCurr').show();
            validFlag = false;
        }
        if (stringIsNull(nwPwd)) {
            $('#nwPwd').css('border-color', 'red');
            $('#ErrnwPwd').text("Enter new password !!");
            $('#ErrnwPwd').show();
            validFlag = false;
        }
        if (stringIsNull(nwPwdCnfm)) {
            $('#nwPwdCnfrm').css('border-color', 'red');
            $('#ErrnwPwdCnfm').text("Enter new password again to confirm !!");
            $('#ErrnwPwdCnfm').show();
            validFlag = false;
        }
        if (validFlag) {
            if (nwPwd != nwPwdCnfm) {
                $('#nwPwdCnfrm').css('border-color', 'red');
                $('#ErrnwPwdCnfm').text("Confirm Password doesn't match !!");
                $('#ErrnwPwdCnfm').show();
            }
            else {
                showLoadreport("#LoadPageChngpwd", ".chngPwdFormDiv");
                var UpdatePassword = {};
                UpdatePassword.url = "/User/ChangeUserPassword";
                UpdatePassword.type = "POST";
                UpdatePassword.data = JSON.stringify({ empId: empId, currPwd: currntPwd, nwPwd: nwPwd, nwPwdCnfm: nwPwdCnfm });
                UpdatePassword.datatype = "json";
                UpdatePassword.contentType = "application/json";
                UpdatePassword.success = function (status) {
                    HideLoadreport("#LoadPageChngpwd", ".chngPwdFormDiv");
                    if (stringIsNull(status)) {
                        showMessageBox(ERROR, "An UnExpected Error Occured!!");                        
                    }
                    else {
                        try {
                            var errlst = status.split(":");
                            var errcnt = errlst.length;

                            for (var i = 0; i <= errcnt - 1; i++) {
                                if (errlst[i] == "ERROR") {
                                    showMessageBox(ERROR, "An unexpected error occured !!");
                                }
                                else if (errlst[i] == "CP") {
                                    $('#currntPwd').css('border-color', 'red');
                                    $('#ErrPwdCurr').text("Enter current password !!");
                                    $('#ErrPwdCurr').show();
                                }
                                else if (errlst[i] == "NP") {
                                    $('#nwPwd').css('border-color', 'red');
                                    $('#ErrnwPwd').text("Enter new password !!");
                                    $('#ErrnwPwd').show();
                                }
                                else if (errlst[i] == "NPC") {
                                    $('#nwPwdCnfrm').css('border-color', 'red');
                                    $('#ErrnwPwdCnfm').text("Enter new password again to confirm !!");
                                    $('#ErrnwPwdCnfm').show();
                                }
                                else if (errlst[i] == "NPM") {
                                    $('#ErrnwPwdCnfm').text("Confirm password doesn't match !!");
                                    $('#ErrnwPwdCnfm').show();
                                }
                                else if (errlst[i] == "PMM") {
                                    $('#currntPwd').css('border-color', 'red');
                                    $('#ErrPwdCurr').text("Incorrect password !!");
                                    $('#ErrPwdCurr').show();
                                }
                                else if (errlst[i] == "OK") {
                                    clearFileds();
                                    showMessageBox(SUCCESS, "Password updated successfully");
                                }
                            }
                        }
                        catch (ex) {
                        }
                    }
                };
                UpdatePassword.error = function () {
                    HideLoadreport("#LoadPageChngpwd", ".chngPwdFormDiv");
                    showMessageBox(ERROR, "An unexpected error occured !!");
                };
                $.ajax(UpdatePassword);
            }
        }
    }
    function clearFileds() {
        $('#currntPwd').val('');
        $('#nwPwd').val('');
        $('#nwPwdCnfrm').val('');
    }
    $('#currntPwd').on('change blur', function () {
        if (this.value.toString().length <= 0) {
            $('#currntPwd').css('border-color', 'red');
            $('#ErrPwdCurr').text("Enter current password !!");
            $('#ErrPwdCurr').show();
        }
        else {
            $('#currntPwd').css('border-color', '');
            $('#ErrPwdCurr').hide();           
        }
    });
    $('#nwPwd').on('change blur', function () {
        if (this.value.toString().length <= 0) {
            $('#nwPwd').css('border-color', 'red');
            $('#ErrnwPwd').show();
        }
        else {
            $('#nwPwd').css('border-color', '');
            $('#ErrnwPwd').hide();
        }
    });
    $('#nwPwdCnfrm').on('change keyup paste blur', function () {       
        if (this.value.toString().length <= 0) {
            $('#nwPwdCnfrm').css('border-color', 'red');
            $('#ErrnwPwdCnfm').text("Enter new password again to confirm !!");
            $('#ErrnwPwdCnfm').show();
        }
        else {
            if (($('#nwPwd').val().length > 0 && $('#nwPwdCnfrm').val().length > 0) && ($('#nwPwd').val() != $('#nwPwdCnfrm').val())) {
                $('#nwPwdCnfrm').css('border-color', 'red');
                $('#ErrnwPwdCnfm').text("Confirm password doesn't match !!");
                $('#ErrnwPwdCnfm').show();
            }
            else {
                $('#nwPwdCnfrm').css('border-color', '');
                $('#ErrnwPwdCnfm').text("Ente new password again to confirm !!");
                $('#ErrnwPwdCnfm').hide();
            }
        }
    });
</script>