<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
@*@using Microsoft.AspNet.Identity*@
@*@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
               @* @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @*</li>*@
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        @*</ul>*@
    @*}*@
@*}
else
{*@*
    <ul class="nav navbar-nav navbar-right">        
        <li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Log Out", "Logout", "Login", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
@*  *@}
<script>
    $('#logoutLink').hide();
    @*var IsAuth = @Html.Raw(Json.Encode(ViewBag.IsAuthenticated));
    if(IsAuth)
    {
        $('#logoutLink').show();
        $('#loginLink').hide();
    }
    else{
        $('#logoutLink').hide();
        $('#loginLink').show();
    }*@
</script>