@{
    ViewBag.Title = "HRMS";
}
@model HrmsMvc.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    <title>HRMS</title>    
    <style>
        #ErrorMsg {
            display: none;
        }
    </style>
</head>
<body>
    <div class="wrapper" style="padding-top:70px;">
        <section>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "loginForm" }))
            {
                @Html.AntiForgeryToken()
                <form autocomplete="off">
                    <div class="login-card">
                        <h2 class="text-center">HRMS</h2><br>
                        @Html.TextBoxFor(model => model.UserName,"", new { @class = "form-control", placeholder = "USERNAME", onblur = "onBlurInput()"})
                        @Html.TextBoxFor(model => model.Password,"", new { @class = "form-control", placeholder = "PASSWORD", type = "password",
                            onblur = "onBlurInput()"})
                        @Html.Label("Invalid credentials", new { @id = "ErrorMsg", @class = "text-danger" })
                        <input type="submit" name="login" class="login login-submit btn btn-primary btn-fill" value="Sign In">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="~/Login/ForgotPassword" class="pull-right hrefLink"
                               id="btnForgotPwd">Forgot Password ?</a>
                        </div>
                    </div>
                </form>
            }
        </section>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        alert(document.domain);
        $('#UserName').val('');
        $('#Password').val('');
        $('#UserName').focus();
        var error = @Html.Raw(Json.Encode(ViewBag.ErrorMsg));
        if(error!=null)
        {
            $('#ErrorMsg').show();
            $('#ErrorMsg').text(error);
        }
    });

    function onBlurInput(){
        if ($('#UserName').val().toString().length > 0 
            && $('#Password').val().toString().length > 0) {           
            $('#ErrorMsg').hide();
        }
    }   
</script>

